.app-header {
  height: 60px;
  line-height: 60px;
  border-bottom: thin lightgrey solid;
  color: #92d9ec;
  font-weight: bold;
  width: 50%;
}

.app-header .app-header--title {
  font-size: 22px;
  padding-left: 5px;
}

.color-box {
  float: left;
  background-color: #6389f1;
  width: 200px;
  padding: 5%;
  border-radius: 15px;
}

.inline-div {
  display: inline-block;
}

.logo {
  opacity: 0.4;
  margin: 24px 0 0 30px;
  width: 20px;
}
